.wrapper {
            display: flex;
            flex-flow: row wrap;
            align-items: top;
            margin: 100px;
            justify-content: space-around;
            font-family: sans-serif;
            background-color: #315481;
            background-image: linear-gradient(to top, coral, teal 100%);
            background-attachment: fixed;

            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            padding: 0;
            margin: 0;

            font-size: 14px;
            }

            h1 {
                text-align: center;
                color: white;
            }


            .header {
                flex: 1 100%;
                height: 10vh;
            }

            button {
                align-items: center;
                width: auto;
                font-size:15px;
                padding: 5px;
                border-radius: 0px;
            }

            .box-title {
                flex: 1 auto;
                padding: 10px;

            }

            #users {
                width: 30%;
                padding: 10px;
                border: 1px solid black;
                background-color: coral;
                background-image: linear-gradient(to bottom, coral, teal 100%);
            }

            #messages {
                flex: 2 1 auto;
                height: 50vh;
                border: solid 1px black;
                background-image: linear-gradient(to bottom, coral, teal 100%);
                overflow: scroll;
            }

            #submit-message {
                display: flex;
                flex: 1 100%;
                text-align: center;
            }

            #new-message {
                flex: 1 50%;
            }